<div class="well">
  <h2><%= @auction.title %></h2>
  <p><%= @auction.details %></p>

  <hr>
  Reserve Price: <%= number_to_currency(@auction.reserve_price) %><br>
  Current Price: <span id="current-price"><%= number_to_currency(@auction.current_price) %></span>

  <hr>
  Status: <%= @auction.aasm_state.titleize %>

  <% if can? :publish, @auction %>
    <% if @auction.draft? %>
      <%= link_to auction_publish_path(@auction), method: :post do %>
        <button type="button" name="button" class="btn btn-success">Publish</button>
      <% end %>
    <% else %>
      <%= link_to auction_unpublish_path(@auction), method: :post do %>
        <button type="button" name="button" class="btn btn-danger">Unpublish</button>
      <% end %>
    <% end %>
  <% end %>

</div>

<% if can? :bid, @auction %>
  <div id="bid-form">
    <%= render "/bids/form", bid: @bid %>
  </div>
<% end %>

<h4>Previous Bids</h4>

<% if @ordered_bids %>
  <div id="bids">
    <% @ordered_bids.each do |bid| %>
      <%= render "/bids/bid", bid: bid %>
    <% end %>
  </div>
<% else %>
  There are currently no bids.
<% end %>
